.content-container {
  display: flex;
}

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 50px auto;
  position: relative;
}

.banner-container > img {
  width: 90%;
  min-height: 600px;
  max-height: 600px;
}

.banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.next-banner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  opacity: 0;
  position: absolute;
}

.next-banner-image.fade-out {
  opacity: 1;
}

.previous-banner,
.next-banner {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 1);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.previous-banner:hover,
.next-banner:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #000;
  cursor: pointer;
}

.previous-banner {
  left: 10%;
}

.next-banner {
  right: 10%;
}

.dots {
  display: flex;
  position: absolute;
  margin-bottom: 27.5px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: rgba(100, 100, 100, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.15);
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}

.dot.selected {
  background-color: #000;
}

.dot:hover {
  background-color: rgba(0, 0, 0, 0.65);
}

.home-section-headers {
  font-size: 24px;
  margin: 60px 0 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-section-headers > .filter {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 400;
  gap: 5px;
  padding: 7.5px 15px;
  background-color: var(--primary-green);
  color: #fff;
  border-radius: 5px;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out,
    font-weight 300ms ease-in-out;
}

.home-section-headers > .filter:hover,
.home-section-headers > .filter.active {
  background-color: var(--primary-yellow);
  color: var(--primary-green);
  font-weight: 600;
  cursor: pointer;
}

.selection-bar-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 4px var(--text-box-shadow);
  overflow: hidden;
  font-size: 1.15rem;
}

.selection-bar-choice {
  width: 100%;
  text-align: center;
  padding: 13px 0px;
  cursor: pointer;
}

.selection-bar-choice:hover {
  background-color: var(--primary-yellow);
}

.selection-bar-chosen {
  background-color: var(--primary-green);
  color: #fff;
  font-weight: 600;
}

.selection-bar-choice.selection-bar-chosen:hover {
  background-color: var(--primary-green);
}

.image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 50vh;
  width: 100%;
  overflow: hidden;
  transition: transform 100ms ease-in-out;
}

.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  z-index: 10;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: background-color 100ms ease-in-out;
}

.price-report-img {
  position: absolute;
  width: 60%;
  object-fit: cover;
}

.infographic-img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.image-wrapper:hover {
  transform: scale(1.03);
}

.section-overlay:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* ASIDE */
aside {
  margin: 50px;
  flex: 1;
}

.card-container {
  background-color: var(--side-background);
  padding: 16px;
  margin-bottom: 5vh;
  border-radius: 5px;
}

.card-header {
  font-size: 24px;
  margin: 0;
}

.card-content-container {
  margin: 24px 15px;
  padding: 15px 25px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
}

.card-content {
  margin-top: 5px;
  margin-left: 8px;
  width: 100%;
}

.card-content > h4 {
  font-size: 18px;
}

.card-content > p {
  margin-top: 5px;
  font-size: 15px;
}

.card-links {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: var(--primary-green);
  text-decoration: underline;
}

.card-links:hover {
  color: #000;
}

.price-trends-chart {
  margin-top: 2rem;
}

.dropdown-container {
  position: absolute;
  background-color: var(--dropdown-green);
  color: var(--content-fill);
  text-align: left;
  margin-top: 0.65rem;
  width: 19.45%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dropdown-container > .item {
  padding: 7.5px 10px;
  border-bottom: 1px solid var(--primary-yellow);
  font-size: 0.9rem;
}

.dropdown-container > .item:hover {
  background-color: var(--primary-yellow);
  color: var(--primary-green);
}

.filter-overlay {
  z-index: 9;
  position: absolute;
  right: 31%;
  top: 137.3%;
  background-color: var(--primary-yellow);
  color: var(--primary-green);
  padding: 10px;
  border-radius: 5px;
  border-top-left-radius: 0;
  box-shadow: 4px 4px 2px var(--text-box-shadow);
  font-size: 16px;
}

.filter-options > div > h3 {
  font-size: 1rem;
  margin-left: 5px;
  margin-top: 5px;
}

.filter-options > label {
  font-size: 1rem;
}

.filter-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  accent-color: var(--primary-green);
}

.filter-options > label:hover,
.filter-options > label > input:hover {
  cursor: pointer;
  transform: scale(1.01);
  margin-left: 3px;
}

.highcharts-exporting-group {
  transform: translateY(-5px);
}

.highcharts-menu,
.highcharts-data-table {
  font-family: "Roboto", sans-serif;
}
