.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-background);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background: #fff;
  color: #000;
  height: 65%;
  width: 45%;
  padding: 0;
  border-radius: 5px;
  z-index: 99;
  overflow: hidden;
}

.modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal-content > div {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-half,
.right-half {
  flex: 1;
  overflow: hidden;
}

.left-half > img {
  position: relative;
  right: 50%;
  object-fit: cover;
  height: 120%;
}

.right-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.right-half > img {
  width: 52.5%;
}

.right-half > h2 {
  font-size: 2.3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
}

.login-form > input,
.login-submit {
  box-sizing: border-box;
  width: 180%;
  border: 1px solid var(--modal-login-input-outline);
  background-color: var(--modal-login-content);
  padding: 13px 25px;
  border-radius: 20px;
}

.login-submit {
  background-color: var(--modal-login-button);
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 0.9rem;
}

.open-registration {
  font-size: 0.9rem;
  color: var(--link-color);
  margin-bottom: 25px;
  cursor: pointer;
}

.open-registration:hover {
  color: darkblue;
}

.registration-modal {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.registration-modal > a > img {
  width: 150px;
}

.registration-modal > h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.registration-form > input {
  box-sizing: border-box;
  width: 180%;
  border: 1px solid var(--primary-green);
  background-color: var(--modal-login-content);
  padding: 7px 25px;
  border-radius: 5px;
}

.registration-buttons-container {
  margin: 0.8rem;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 3rem;
  gap: 0.6rem;
}

.registration-buttons-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px 20px;
  border-radius: 5px;
  border: none;
  font-size: 0.9rem;
  color: #fff;
  transition: opacity 200ms ease-in-out;
}

.registration-buttons-container > button:hover {
  cursor: pointer;
  opacity: 95%;
  box-shadow: 2px 2px 2px var(--text-box-shadow);
}

.registration-buttons-container > button:nth-child(1) {
  background-color: var(--modal-register-back-button);
}

.registration-buttons-container > button:nth-child(2) {
  background-color: var(--modal-login-button);
}

.left-arrow-reg {
  margin: 0;
  padding: 0;
  margin-top: 2px;
}
