/* Navbar container */
.navbar-container {
  background-color: var(--primary-green);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* navbar stays at top even when scrolling down */
  position: sticky;
  z-index: 999;
  top: 0;
}

/* Tabs styling */
.tabs {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  color: #fff;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.05rem;
  padding: 0 3rem;
}

.tabs > .navbar-item {
  position: relative;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  padding: 1.5rem 5px;
}

#navbar-item-active,
#navbar-item-active > a {
  color: var(--primary-yellow);
  text-decoration: underline;
}

.navbar-item > a {
  color: #fff;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.tabs > .navbar-item:hover {
  transform: scale(1.03);
  background-color: var(--dropdown-green);
}

.tabs > .navbar-item:hover > a {
  text-decoration: underline;
  color: var(--primary-yellow);
}

/* Search bar styling */
.searchbar-container {
  display: flex;
  align-items: center;
  position: relative;
}

.navbar-searchbar {
  padding: 7px 45px 7px 15px;
  border-radius: 18px;
  border: none;
  font-size: 0.95rem;
}

.search-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* Login button styling */
.navbar-login {
  padding: 5px 40px;
  border: none;
  border-radius: 3px;
  box-shadow: 4px 4px 4px var(--text-box-shadow);
  background-color: var(--primary-yellow);
  color: var(--primary-green);
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin-right: 3rem;
  cursor: pointer;
  transition: all 200ms ease-out;
}

.navbar-login:hover {
  transform: scale(1.08);
  background-color: var(--dropdown-green);
  color: var(--primary-yellow);
  font-weight: 800;
}
